<div class="wpb_row vc_row-fluid standard-section section section-no-parallax no-repeat" data-speed="1" style="background-image: url(/assets/img/consulting.webp); background-repeat: no-repeat; background-color: #333333; padding-top: 120px; padding-bottom: 120px">
  <div class="col span_12 color-light text-align-center">
    <div class="vc_col-sm-12 wpb_column column_container col no-padding color-dark" style="" data-animation="" data-delay="">
      <div class="wpb_wrapper">
        <h3 class="headline font-special fontsize-l fontweight-700 lh-inherit align-center transform-uppercase" style="margin: 0 0 20px 0">Choose Miss Independent Financials for your bookkeeping needs</h3>
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <p>Miss Independent Financials specializes in small to mid-size businesses, giving the same attention to all clients, no matter how large or small.The bookkeeping and consulting services we provide are tailored to the unique needs of each client, ensuring the best possible results and maximized returns. We&#8217;d love to chat with you and learn more about your new business! Sign up and let&#8217;s connect!</p>
          </div>
        </div>
        <a href="mailto:melissa@missindependentfinancials.com" target="_blank" class="button button-appear color-6 medium" style="border-radius: 2px"><span>Contact Me<i class='fa fa-chevron-right'></i></span></a>
      </div>
    </div>
  </div>
</div>
