  <footer id="footer">
    <div class="container">
      <div class="one-third columns">
        <div id="nav_menu-2" class="widget widget_nav_menu">
          <h3>Sitemap</h3>
          <div class="menu-footer-menu-container">
            {% include "menu.html" %}
          </div>
        </div>
      </div>
      <div class="one-third columns">
        &nbsp;
      </div>
      <div class="one-third columns">
        <div id="text-4" class="widget widget_text">
          <h3>Contact Miss Independent</h3>
          <div class="textwidget">
            <p>PO Box 49<br>Sagamore, MA 02561</p>
            <p><a href="tel:5088272058">508-827-2058</a></p>
            <p><a href="mailto:melissa@mifinancials.com">melissa@mifinancials.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="copyright" class="clearfix">
    <div class="container">
      <div class="sixteen columns">
        <div class="copyright-text copyright-col1">
          © 2025 Miss Independent Financials</div>
        <div class="copyright-col2">
          <div class="social-icons clearfix">
            <ul>
              <li><a href="https://www.facebook.com/profile.php?id=61584638458636" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i></a></div>
