<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ title }} | Miss Independent Financials</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <script>
    /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
    if (typeof WebFontConfig === "undefined") {
      WebFontConfig = new Object();
    }
    WebFontConfig['google'] = { families: ['Montserrat:400,700', 'Open+Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic&amp;subset=latin'] };

    (function () {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <meta name="description" content="" />
  <link rel="canonical" href="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }} | Miss Independent Financials" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:title" content="{{ title }} | Miss Independent Financials" />
  <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.mifinancials.com\/","name":"Miss Indepdendent Financials"}</script>
  <link rel='dns-prefetch' href='//s.w.org' />
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel='stylesheet' id='stylesheet-css' href='/assets/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='stylesheet-css' href='/assets/css/unicon.css' type='text/css' media='all' />
  <link rel='stylesheet' id='js_composer_front-css' href='/assets/css/js_composer.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='shortcodes-css' href='/assets/css/shortcodes.css' type='text/css' media='all' />
  <link rel='stylesheet' id='responsive-css' href='/assets/css/responsive.css' type='text/css' media='all' />
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js" integrity="sha512-jKxp7JHEN6peEmzmg6a7XJBORNTB0ITD2Pi+6FUkc16PCaNAJX2ahZ1ejn1p1uY37Pxyirn/0OMNZbITbEg3jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.js" integrity="sha512-aXhtv7JyykxclIxaskNvi+ccQ9tHYSw3JeKpY2xQ1OnqrczvNmYKkxzcXSdi8j+TVNsX4+ju8Jy2odH04GEg8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type='text/javascript' src='/assets/js/jquery.themepunch.tools.min.js'></script>
  <script type='text/javascript' src='/assets/js/jquery.themepunch.revolution.min.js'></script>
</head>

<body class="home page-template-default page page-id-14045 smooth-scroll wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
  <div class="site-wrapper wrapall">
    <header id="header" class="header header-v4 clearfix">
      <div class="container">
        <div class="sixteen columns">
          <div id="logo" class="logo">
            <a href="/"><img src="/assets/img/logo.webp" height="183" alt="" class="logo_retina" /></a>
          </div>
        </div>
      </div>
      <div class="navigation-wrap">
        <div class="container">
          <div class="sixteen columns">
            <div id="navigation" class="clearfix">
              {% include "menu.html" %}
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="mobile-header">
      <div class="container">
        <div class="sixteen columns">
          <div id="mobile-logo" class="logo">
            <a href="/"><img src="assets/img/logo.webp" height="183" alt="" class="logo_retina" /></a>
          </div>
          <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
    <div id="mobile-navigation">
      <div class="container">
        <div class="sixteen columns">
          <div class="menu-menu-container">
            <ul id="mobile-nav" class="menu">
              {% include "menu.html" %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="page-wrap">
      <div id="content" class="page-section nopadding">
        {{ content }}
      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js" integrity="sha512-FpMl4eKMGElSNmrXJWg12k8g/zLekpJAjfM6QkPkcFzfxR+YL+9tVl/m1Mnhg2aTBOihmNMTPaSoI0IrKHBCiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/shortcuts/sticky-elements/waypoints-sticky.js" integrity="sha512-VCpQPrKgICR5HMtdTnhiNjLMfYwRs5l6ysWjKDy09zHloYIcaIpVJbYeGG8s+TqRsbbKGM4LrpOr+MWCwEz7MA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/js/jquery.prettyPhoto.min.js" integrity="sha512-IB7NSySDRedVEsYsOVuzN5O5jwRjV2ewVVmkDFIgE0yNu11GreBCOMv07i7hlQck41T+sTXSL05/cG+De4cZDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.0/isotope.pkgd.min.js" integrity="sha512-0kA6/coGiu04pblG/mz0aIO6a4vDcW+l3BZ3HaG8P5HbID4V16MDJey1EL/Ahn0OijLq/0xYbAUPCPDui9dhzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.8/js/superfish.min.js" integrity="sha512-nvyMakl0BMjJZlqFfjpv7UobMSX3lzdRTaxTPc4bo8Dkw8wm9IgqzsO1FcWL1h35kQoZF6z5iTFzL3TDj6QqzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.10.2/jquery.hoverIntent.min.js" integrity="sha512-sw+oNcbTS/A0W2RCoTKChyNVw/OClp76mxn3yaOZiDaxpGMXFIWrZC6BlgtieaWp2oh2asgj44TJd1f4Lz2C8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pioul/jQuery.SimpleSelect@2.0.0/jquery.simpleselect.js" integrity="sha256-LsDRYQE9s0+eJSXKNLkEaakpPWaYgcpCQGaYLDw9x3c=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js" integrity="sha512-ytw2LczbMcxgr4LNvz9L3hCR09277DGSLXm/cltfS2U2yuT1bYpq2UzyAXBMkY50LSByCLhUBS3jgewIE5r5VQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js" integrity="sha512-wkSIcMlK1AA9fA7yyUmOCvUb7KEKuMiDF/kwgODEBtLWmvsJU+v10rFBDuPZRHcbDvCoxxvWUyYWNMyM+JF5zw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.1/jquery.scrollTo.min.js" integrity="sha512-Tz1hZpbEJeCKEKeUagAAI67on6kXCoau5IZpZiYZu86xSK3Cpll3W1p6zHSw0n2ZR4Jobicp4W+Qw9EjNuZdyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js" integrity="sha512-UczDI6k+Mh0R8HmmorD0wFQ/0KwsyI+F4sY9nbeQWfDIpndoRNivr3C4ICxr+adymNr6TX0fYdvq7biXNJWj9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" integrity="sha512-ES/eSqVi/9sgeZfvunOto+gwgFGrD/hzi5UOJFDR1Me8acKSBJIb2Gk0IyKje2ZaX+OovAG2/bRzj/uBcNeesg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js" integrity="sha512-RXuJVZbGztKGYMNgmWU6oOHbUwYu+NnzovhT4lyW1kfmEfRK6CD1xL8U+0xACFqSkC3cxMugaaNEP8wWmvl4Jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.1.2/packery.pkgd.min.js" integrity="sha512-rdolwqJyOH0C6aD11VwfGCMHe6fyC5PXKmBl+S/YRnJnRbg3bueTifujmq7BoS2o1W1JW8wlqnZR4TKIvKPwpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/assets/js/functions.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/jquery.flexslider-min.js" integrity="sha512-WYe9qiHEFgvbb8GRxxGVAt487k8diMSn7b+bFiJsXckVE5mkPa7ja5nQx4m1xq0BobnEccXMSNwGMkP3S3dXEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.0/SmoothScroll.min.js" integrity="sha512-srUREbxyKz08UAtIMIy/yoihZeUN5EhzjpkWZZQWnI3pkK+s040r3Ih3xBolfu45cJ2VOHg0XOaegJGJGiPB/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js' integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      "use strict";

      /* PrettyPhoto Options */
      var lightboxArgs = {
        animation_speed: 'normal',
        overlay_gallery: false,
        autoplay_slideshow: false,
        slideshow: 5000,
        opacity: 0.83,
        show_title: false,
        social_tools: "", deeplinking: false,
        allow_resize: true,
        allow_expand: false,
        counter_separator_label: '/',
        default_width: 1160,
        default_height: 653
      };

      /* Automatic Lightbox */
      $('a[href$=jpg], a[href$=JPG], a[href$=jpeg], a[href$=JPEG], a[href$=png], a[href$=gif], a[href$=bmp]:has(img)').prettyPhoto(lightboxArgs);

      /* General Lightbox */
      $('a[class^="prettyPhoto"], a[rel^="prettyPhoto"], .prettyPhoto').prettyPhoto(lightboxArgs);

      /* WooCommerce Lightbox */
      $("a[data-rel^='prettyPhoto']").prettyPhoto({
        hook: 'data-rel',
        social_tools: false,
        deeplinking: false,
        overlay_gallery: false,
        opacity: 0.83,
        allow_expand: false, /* Allow the user to expand a resized image. true/false */
        show_title: false
      });

      /* Transparent Header */
      function transparentHeader() {
        if ($(document).scrollTop() >= 60) {
          $('#header.header-v1').removeClass('header-transparent');
        }
        else {
          $('#header.header-v1.stuck').addClass('header-transparent');
        }
      }

      /* Sticky Header */
      if (/Android|BlackBerry|iPhone|iPad|iPod|webOS/i.test(navigator.userAgent) === false) {

        var $stickyHeaders = $('#header.header-v1, #header.header-v3 .navigation-wrap, #header.header-v4 .navigation-wrap');
        $stickyHeaders.waypoint('sticky');

        $(window).resize(function () {
          $stickyHeaders.waypoint('unsticky');
          if ($(window).width() < 944) {
            $stickyHeaders.waypoint('unsticky');
          }
          else {
            $stickyHeaders.waypoint('sticky');
          }
        });

        if ($("body").hasClass("header-is-transparent")) {
          $(document).scroll(function () { transparentHeader(); });
          transparentHeader();
        }
      }

      $('.widget select, select.orderby, .variations_form select, .wpcf7-select, .woocommerce select').not('#rating, #calc_shipping_country, #billing_state').simpleselect();

      /* Fill rest of page */
      $('body').css({ 'background-color': '#1b1b1b' });
    });
  </script>
</body>
</html>
